{% extends 'searchengine/base/base.html' %}

{% load static %}

{% block title %}Investigator!{% endblock %}

{% block content %}

<div class="full-page-span">
    <div class="center investigator-image">
        <img src="{% static '/searchengine/images/investigatorWhite.png' %}" alt="Investigator" href="">
    </div>
    <br>
    <div class="center">
        <form method="POST" action="search" class="center">
            {% csrf_token %}
            <input id="search-term" type="text" name="search" placeholder="Investigate here!">
        </form>
    </div>
</div>

{% if not content %}
    <style>
    .full-page-span {
    margin-top: 5%;
    height: 100vh; } 

    .investigator-image img{
    margin-bottom: 7%; }
    </style>

{% else %}

    <style> 
        .full-page-span {
            margin-top: 5%;
            height: 50vh; }
    
        .investigator-image img{
            margin-bottom: 3%; }
    </style>

    <div class="center">
        <!-- Actual content -->
        <div class="container">

            <!-- For each webpage in content -->
            {% for dictionary in content %}
            <div class="block {{ dictionary.name }}">
                    <div class="searchEngine">
                        <h3> {{ dictionary.name }} </h3>
                    </div>
                    <div class="searchResults">

                        <!-- For each headline in a webpage -->
                        {% for element in dictionary.combination %}
                            <a href="{{ element.1 }}" target="_blank">
                                <article>{{ element.0 }}</article>
                            </a>
                        <br>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% endblock %}